@inject IContextAccessor contextAccessor
<a class="navbar-brand store-logo" target="_self" href="@Url.RouteUrl("HomePage")">
    <img width="260" height="72" src="/Plugins/Theme.BehOffice/Content/images/beh/beh-logo.png?v=20260722-2" alt="BEH Oficinas" />
    <span class="sr-only">@Loc["Logo"]</span>
</a>
