@inject StoreInformationSettings StoreInformationSettings
@inject CommonSettings CommonSettings

<div class="header-nav">
    <nav class="navbar navbar-light navbar-expand">
        <b-container fluid id="header-container">
            <div class="beh-top-message">
                <span>Tienda oficial BEH · Fabricación, entrega e instalación en Colombia</span>
                <a href="https://wa.me/573103200976" target="_blank" rel="noopener" class="beh-top-message__wa">
                    <svg viewBox="0 0 20 20" aria-hidden="true" width="13" height="13" style="fill:currentColor;flex-shrink:0"><path d="M10.02 2c-4.42 0-8.02 3.53-8.02 7.88 0 1.39.38 2.74 1.08 3.92L2 18l4.34-1.1a8.1 8.1 0 0 0 3.69.9c4.42 0 8.02-3.54 8.02-7.89S14.44 2 10.02 2Zm0 14.35c-1.18 0-2.32-.31-3.32-.91l-.24-.14-2.57.65.69-2.47-.16-.25a6.35 6.35 0 0 1-.97-3.37c0-3.53 2.95-6.4 6.57-6.4 3.62 0 6.57 2.87 6.57 6.4 0 3.54-2.95 6.49-6.57 6.49Z"/></svg>
                    WhatsApp
                </a>
                <a href="https://behformas.com/">Sitio BEH</a>
            </div>
        </b-container>
    </nav>
</div>
